<h2>Resultados</h2>
        <div class="linha"></div>

        <div class="noticia">
            <h3 class="titulo-noticia">Seleção Pública Professor Substituto - Edital N°1999</h3>
            <div class="div-link-resultados">
                <a class="link-noticia" href=""> > Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                <a class="link-noticia" href=""> > Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
            </div>
            
        </div>

        <div class="noticia">
            <h3 class="titulo-noticia">Concurso para Analista e Técnico Universitário - Ed. Nº 13/2018</h3>
            <div class="div-link-resultados">
                <a class="link-noticia" href=""> > Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                <a class="link-noticia" href=""> > Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
            </div>
            
        </div>

        <div class="noticia">
            <h3 class="titulo-noticia">Doutorado Desenvolvimento Regional e Meio Ambiente</h3>
            <div class="div-link-resultados">
                <a class="link-noticia" href=""> > Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
            </div>
           
        </div>