<h2>Notícias</h2>
        <div class="linha"></div>

        <div class="noticia">
            <h3 class="titulo-noticia">Notícia 1</h3>
            <a class="link-noticia" href=""> > Link da Notícia 1</a>
        </div>

        <div class="noticia">
            <h3 class="titulo-noticia">Notícia 2</h3>
            <a class="link-noticia" href=""> > Link da Notícia 2</a>
        </div>

        <div class="noticia">
            <h3 class="titulo-noticia">Notícia 3</h3>
            <a class="link-noticia" href=""> > Link da Notícia 3</a>
        </div>