<div class="teste">



<section class="header">
    <app-header></app-header>
</section>

<section class="menu">
    <app-menu></app-menu>
</section>

<section class="noticias">
    <app-noticias></app-noticias>
</section>

<section class="destaque">
    <app-destaques></app-destaques>
</section>

<section class="servicos">
    <app-servicos></app-servicos>
</section>

<section class="resultados">
    <app-resultados></app-resultados>
</section>

<section>
    <app-footer></app-footer>
</section>
</div>